aiofiles
beautifulsoup4
bs4
cachetools
cloudscraper
colorama
dnspython
flask
flask_restful
httpx
img2pdf
lk21
lxml
psutil
PyBypass
pymongo
pyrate_limiter
pyrogram
python-dotenv
python-telegram-bot
requests
sapling-py
speedtest-cli
telegram
telegraph
tgcrypto
urllib3
waybackpy
yt_dlp